html { 
    background: url(../img/hello.PNG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main {
    top: 50%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}